<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SEPA Debit Purchase</title>
    <link rel="stylesheet" href="styles.css" title="" type="text/css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <h1>SEPA Debit Purchase</h1>
          <form action="sepa" method="POST">
            <button type="submit">Purchase a Coffee Cup</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
